.game-layout-container{
	display: flex;
}

#layout-container-16_9_3p{
	display: block;
}

body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.wrapper{
	background: url('../../images/16_9_3p.png') no-repeat;
	font-family: "Geometry Soft Pro Bold N";
	color: white;
	text-shadow: -2.25px 0 black, 0 2.25px black, 2.25px 0 black, 0 -2.25px black;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	position: relative;
}

.runner-info1{
	position: absolute;
	top: 550px;
	left: 105px;
	width: 295px;
	height: 70px;
}
.runner-info2{
	position: absolute;
	top: 550px;
	right: 105px;
	width: 290px;
	height: 70px;
}
.runner-info3{
	position: absolute;
	bottom: 145px;
	right: 105px;
	width: 295px;
	height: 70px;
}
.runner-name{
	position: absolute;
	left: 6px;
	width: 210px;
	height: 70px;
	line-height: 70px;
	font-size: 3vw;
	text-align: center;
}

.pronouns{
	position: absolute;
	top: 13px;
	left: 225px;
	width: 68px;
	height: 70px;
	word-wrap: break-word;
	text-align: center;
	font-size: 1vw;
}

.game-info{
	position: absolute;
	left:15px;
	top:765px;
	width:470px;
	height:210px;
	text-align: center;
}
.game-name{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 450px;
	height: 60px;
	line-height: 80px;
	text-align: center;
	font-size: 4.5vw;
}
.game-category{
	position: absolute;
	left: 10px;
	bottom: 25px;
	width: 450px;
	height: 50px;
	text-align: center;
	font-size: 3vw;
}

.estimate{
	position: absolute;
	bottom: 15px;
	left: 100px;
	width: 385px;
	height: 70px;
	font-size: 3.5vw;
	text-align: center;
}

.timer{
	position:absolute;
	top:80px;
	left: -65px;
	width: 470px;
	height: 110px;
	font-size: 6vw;
}
.timer3{
	left: -60px;
	top: 85px;
}
.finish-time{
	position:absolute;
	top:80px;
	left: -65px;
	width: 470px;
	height: 110px;
	font-size: 6vw;
}
.finish-time-runner3{
	left: -60px;
	top: 85px;
}
