.game-layout-container{
    display: flex;
}

#layout-container-16_9{
    display: block;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    background: url('../../images/16_9.png') no-repeat;
    font-family: "Geometry Soft Pro Bold N";
    color: white;
	text-shadow: -2.25px 0 black, 0 2.25px black, 2.25px 0 black, 0 -2.25px black;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: relative;
}

.left-bar{
    position: absolute;
    left: 0;
    top: 305px;
    width: 305px;
    height: 590px;
    font-size:48px;
}

.runner-info{
    position: absolute;
    top: 0;
    left: 100px;
    width: 390px;
    height: 70px;
}

.runner-name{
    position: absolute;
    left: 7px;
    width: 155px;
    height: 70px;
	line-height: 70px;
	font-size: 3vw;
	text-align: center;
	vertical-align: middle;
}

.pronouns{
    position: absolute;
	top: 20px;
    left: 165px;
    width: 43px	;
    height: 40px;
    line-height: 100%;
    word-wrap: break-word;
	text-align: center;
	vertical-align: middle;
    font-size: 16px;
}

.game-info{
    position: absolute;
    left:25.5px;
    top:90px;
    width:285px;
    height:125px;
    text-align: center;
}
.game-name-special{
    position: absolute;
    top: 15px;
    height: 60px;
	width:285px;
    text-align: center;
	font-size: 3vw;
}
.game-category{
    position: absolute;
    top: 75px;
    height: 50px;
	width:285px;
    text-align: center;
    font-size: 2vw;
}

.estimate{
    position: absolute;
    top: 245px;
    left: 105px;
    width: 210px;
    height: 70px;
	font-size: 2.5vw;
    text-align: center;
}

.timer{
	position:absolute;
	top:345px;
	left: 24px;
	width: 295px;
	height: 135px;
	font-size: 4vw;
}
