.game-layout-container{
    display: none;
}

#layout-container-4_3{
    display: block;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    background: url('../../images/4_3.png') no-repeat;
    font-family: "Geometry Soft Pro Bold N";
    color: white;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: relative;
}

.left-bar{
    position: absolute;
    left: 0;
    top: 390px;
    width: 490px;
    height: 590px;
    font-size:48px;
}

.runner-info{
    position: absolute;
    top: 5px;
    left: 115px;
    width: 375px;
    height: 70px;
    text-align: center;
}

.runner-name{
    position: absolute;
    left: 0;
    width: 275px;
    height: 70px;
    line-height: 70px;
    font-size: 48px;
}

.pronouns{
    position: absolute;
    left: 400px;
    width: 80px;
    height: 70px;
    line-height: 70px;
    word-wrap: break-word;
    font-size: 24px;
}

.game-info{
    position: absolute;
    left:20px;
    top:90px;
    width:470px;
    height:120px;
    text-align: center;
}
.game-name{
    position: absolute;
    top: 0;
    height: 60px;
    text-align: center;
    font-size: 48px;
}
.game-category{
    position: absolute;
    top: 70px;
    height: 50px;
    text-align: center;
    font-size: 32px;
}

.estimate{
    position: absolute;
    top: 230px;
    left: 115px;
    width: 375px;
    height: 70px;
    text-align: center;
}

.timer{

}
