.game-layout-container{
	display: flex;
}

#layout-container-4_3_2p{
	display: block;
}

body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.wrapper{
	background: url('../../images/4_3_2p.png') no-repeat;
	font-family: "Geometry Soft Pro Bold N";
	color: white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	position: relative;
}


.runner-info1{
	position: absolute;
	bottom: 275px;
	left: 105px;
	width: 385px;
	height: 70px;
}

.runner-info2{
	position: absolute;
	bottom: 275px;
	right: 20px;
	width: 385px;
	height: 70px;
}

.runner-name1{
	position: absolute;
	left: 13px;
	width: 275px;
	height: 70px;
	line-height: 70px;
	font-size: 1.5vw;
	text-align: center;
	vertical-align: center;
}

.runner-name2{
	position: absolute;
	left: 13px;
	width: 275px;
	height: 70px;
	line-height: 70px;
	font-size: 1.5vw;
	text-align: center;
	vertical-align: center;
}

.pronouns1{
	position: absolute;
	top: 7px;
	left: 303px;
	width: 75px;
	height: 68px;
	line-height: 100%;
	word-wrap: break-word;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
}
.pronouns2{
	position: absolute;
	top: 7px;
	left: 303px;
	width: 75px;
	height: 68px;
	line-height: 100%;
	word-wrap: break-word;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
}
.game-info{
	position: absolute;
	left:510px;
	bottom:275px;
	width:900px;
	height:70px;
	text-align: center;
}
.game-name{
	position: absolute;
	top: 10px;
	left: 75px;
	width: 470px;
	height: 60px;
	text-align: left;
	font-size: 2.5vw;
}
.game-category{
	position: absolute;
	top: 10px;
	right: 75px;
	width: 470px;
	height: 50px;
	line-height:50px;
	text-align: right;
	font-size: 2.5vw;
}

.estimate{
	position: absolute;
	bottom: 190px;
	left: 790px;
	width: 410px;
	height: 70px;
	font-size: 3.5vw;
	text-align: center;
}

.timer{
	position:absolute;
	top:86px;
	left: -86.5px;
	width:472.5px;
	height:138px;
	font-size: 5vw;
}
.finish-time-runner{
	position:absolute;
	top:86px;
	left: -86.5px;
	width:472.5px;
	height:138px;
	font-size: 5vw;
}

