.game-layout-container{
	display: flex;
}

#layout-container-4_3_2p{
	display: block;
}

body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.wrapper{
	background: url('../../images/4_3_2p.png') no-repeat;
	font-family: "Geometry Soft Pro Bold N";
	color: white;
	text-shadow: -2.25px 0 black, 0 2.25px black, 2.25px 0 black, 0 -2.25px black;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	position: relative;
}


.runner-info1{
	position: absolute;
	bottom: 275px;
	left: 105px;
	width: 385px;
	height: 70px;
}

.runner-info2{
	position: absolute;
	bottom: 275px;
	right: 20px;
	width: 385px;
	height: 70px;
}

.runner-name{
	position: absolute;
	left: 13px;
	width: 275px;
	height: 70px;
	line-height: 70px;
	font-size: 3vw;
	text-align: center;
	vertical-align: center;
}


.pronouns{
	position: absolute;
	top: 7px;
	left: 303px;
	width: 75px;
	height: 68px;
	line-height: 100%;
	word-wrap: break-word;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
}

.game-info-special{
	position: absolute;
	left:510px;
	bottom:275px;
	width:900px;
	height:70px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	font-size: 3vw;
}

.estimate{
	position: absolute;
	bottom: 195px;
	left: 790px;
	width: 410px;
	height: 70px;
	font-size: 4vw;
	text-align: center;
}

.timer{
	position:absolute;
	top:95px;
	left: -65px;
	width:472.5px;
	height:138px;
	font-size: 6vw;
}
.timer2{
	left: -55px;
}
.finish-time{
	position:absolute;
	top:98px;
	left: -50px;
	width:472.5px;
	height:138px;
	font-size: 7vw;
}
.finish-time-runner2{
	left: -43px;
}


